<!DOCTYPE html>
<html>
<head>
    <title>House Price Predictor</title>
</head>
<body>
    <h2>Enter House Details</h2>
    <form action="/predict/" method="post">
        {% csrf_token %}
        House Size (sqft): <input type="text" name="size"><br><br>
        Bedrooms: <input type="text" name="bedrooms"><br><br>
        Bathrooms: <input type="text" name="bathrooms"><br><br>
        <input type="submit" value="Predict Price">
    </form>

    {% if result %}
        <h3>Predicted Price: ₹{{ result }}</h3>
    {% endif %}
</body>
</html>
